<h2>Install node "{{hostname}}"</h2>
<h2>Automatic installation</h2>
<ol>
    <li>Install gem <kbd>gem install node-access</kbd></li>
    <li>Run <kbd>node-access install</kbd></li>
</ol>
<h2>Manual installation</h2>
<ol>
    <li>Install gem <kbd>gem install node-access</kbd></li>
    <li>Create file: <kbd>mkdir ~/.node-access && nano ~/.node-access/crontab.sh</kbd> </li>
    <li>Add <kbd>node-access {{token}}</kbd> and save file</li>
    <li>Run <kbd>crontab -e</kbd>, pasting the line below into your Crontab file:<br>
        <kbd>* * * * * bash -l -c '$HOME/.node-access/crontab.sh'</kbd><br>
    </li>
</ol>