{{#if securityGroups}}
    {{#each group in securityGroups}}
        {{#with group}}
            <div class="row">
                <div class="row-inner">
                    <div class="col-sm-10"><h5>{{#link-to 'groups.group' group}}{{name}}{{/link-to}}</h5></div>
                    <div class="col-sm-2 text-right">
                        <a {{action "deleteGroup" group}} href="#" title="Detach group"
                                                          class="glyphicon glyphicon-minus"></a></div>
                </div>
            </div>
            {{view "Access.AccessRulesView" readOnly=true}}
        {{/with}}
    {{/each}}
{{else}}
    Groups not found!
{{/if}}